/* home */

* {
  font-family: "Bad Script", cursive;
  box-sizing: border-box;
  text-align: center;
  margin: 0;
}

body {
  background: black;
  color: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
}

.content {
  height: 100vh;
  display: grid;
  place-items: center;

  z-index: 1;
  position: relative;
}

.fussion {
  position: absolute;
  inset: -200%;
  background-image: url("/assets/img/noise.png");
  opacity: 25%;
  z-index: 2;
  /* pointer-events: none; */

  animation: shift 0.2s linear infinite both;
}

body {
  overflow: hidden; /* Скрыть возможное переполнение контента за пределами body */
  filter: url("#fishEyeFilter"); /* Применяем фильтр к тегу body */
  margin: 0; /* Убедитесь, что у body нет внутренних отступов */
}

@keyframes shift {
  0% {
    transform: translateX(10%) translateY(10%);
  }

  100% {
    transform: translateX(-10%) translateY(-10%);
  }
}

/* Hub */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 79%);
  display: none;
  z-index: 3;
}

#overlay__pause {
  /* display: none; */
  /* width: 100%; */
  position: fixed;
  top: 34%;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 320px;
  /* background: rgb(0 0 0 / 79%); */
  display: none;
  /* color: white; */
  z-index: 3;
  place-items: center;
}

.content {
  /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  text-align: center;
  display: none;
  z-index: 9999; */
}

/* Light Mode */

#theme-toggle {
  /* z-index: 999; */
  padding: 20px;
}

body.light-mode {
  background: white;
  color: black;
}

.container__hub.light-mode {
  background: white;
  color: black;
}

.text.light-mode {
  color: black;
}

.question.light-mode {
  color: black;
}

.path.light-mode {
  stroke: black;
}

#music__progress.light-mode {
  background: rgb(254, 254, 254);
}

#music__progress::-webkit-slider-thumb.light-mode {
  background: black;
}

.controls__audio div:nth-child(2).light-mode {
  color: black;
}

.lang__object.light-mode {
  border: 2px solid black;
}

/* text */

.text {
  font-size: 5em;
  letter-spacing: 10px;
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;

  color: white;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes typing__revers {
  from {
    width: 100%;
    display: flex;
  }
  to {
    width: 0%;
    display: none;
  }
}

.visible {
  opacity: 1;
  animation: typing 2s, cursor 0.4s step-end infinite alternate;
}

.hidden {
  animation: cursor 0.4s step-end infinite alternate, typing__revers 2s;
  display: none;
}

/* Container */

.container {
  /* max-width: 1200px; */
  margin: 0px auto;
  padding: 0px 15px;
  display: inline-block;

  position: relative;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992) {
  .container {
    max-width: 750;
  }
}

@media (max-width: 767) {
  .container {
    max-width: none;
  }
}

/* Quest */

.container__button {
  z-index: 3;
}

.question {
  color: white;
  background: none;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 50px; /* Выберите нужное расстояние от нижнего края страницы */
  width: 20%;
  font-size: 100px;
}

.visibleB {
  display: flex;
  animation: typingB 2s;
  /* z-index: 3; */
}

.hiddenB {
  display: none;
  animation: typing__reversB 2s;
}

@keyframes typingB {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 20%;
    opacity: 1;
  }
}

@keyframes typing__reversB {
  from {
    display: flex;
    opacity: 1;
  }
  to {
    display: none;
    width: 0%;
    opacity: 0;
  }
}

#question__2__1 {
  left: 20%;
}

#question__2__2 {
  right: 20%;
}

#question__5__1 {
  left: 20%;
}

#question__5__2 {
  right: 20%;
}

#question__13__1 {
  left: 20%;
}

#question__13__2 {
  right: 20%;
}

#question__17__1 {
  left: 20%;
}

#question__17__2 {
  right: 20%;
}

/* Whitespace */

.whitespace {
  position: absolute;
  bottom: 25px;
  transition: 0.3s ease;
  opacity: 0;
}

/* Camera */

#camera-container {
  position: relative;
}

#camera-stream {
  width: 100%;
  max-width: 640px;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 8px;
}

#start-camera {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Eye */

.container__eyes {
  position: absolute;
  width: 100%;
  /* height: auto; */
  height: 100%;
  top: 15%;
  left: 9.5%;

  opacity: 0;
  transition: 2s;
}

svg {
  position: absolute;
  display: block;
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
  height: 100%;
  /* left: 130px; */
  /* margin: 0; */
  /* top: 47px; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* margin-left: auto; */
  margin-right: auto;
}

path {
  width: 100%;
  height: 100%;
  stroke: #ffffff;
  stroke-width: 10;
  stroke-linecap: round;
  d: path("M 10 80 Q 190 80 390 80");
  fill: none;
  transition: 2s;
}

#left__eyе__top {
  /* d: path("M 10 80 Q 190 250 390 80"); */
}

#left__eye__bottom {
  /* d: path("M 10 80 Q 190 -80 390 80"); */
}

#left__eyе {
  left: 5%;
}

#right__eye__top {
  /* d: path("M 10 80 Q 190 250 390 80"); */
}

#right__eye__bottom {
  /* d: path("M 10 80 Q 190 -80 390 80"); */
}

#right__eyе {
  left: 50%;
}

/* #right__eye__top,
#left__eyе__top {
  animation: eyes__top 2s;
}

#right__eye__bottom,
#left__eye__bottom {
  animation: eyes__bottom 2s;
} */

@keyframes eyes__top {
  0% {
    d: path("M 10 80 Q 190 250 390 80");
  }

  50% {
    d: path("M 10 80 Q 190 70 390 80");
  }

  100% {
    d: path("M 10 80 Q 190 250 390 80");
  }
}

@keyframes eyes__bottom {
  0% {
    d: path("M 10 80 Q 190 -80 390 80");
  }

  50% {
    d: path("M 10 80 Q 190 80 390 80");
  }

  100% {
    d: path("M 10 80 Q 190 -80 390 80");
  }
}

/* Music Player */

.container__music {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  display: none;
  z-index: 3;

  transition: 2s;
  animation: appearance__audio 2s;
}

@keyframes appearance__audio {
  0% {
    top: -90px;
    opacity: 0;
  }

  100% {
    top: 0px;
    opacity: 1;
  }
}

.music__player {
  width: 450px;
  padding: 25px 35px;
  text-align: center;
  display: none;
  z-index: 4;
}

audio {
  background: none;
  border: none;
  outline: none;
}

source {
  background: none;
  border: none;
  outline: none;
}

#music__progress {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: rgb(36, 36, 36);
  border-radius: 4px;
  cursor: pointer;
  /* margin: 40px 0; */
}

#music__progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #fff;
  width: 10px;
  height: 8px;
  border-radius: 50%;
  /* border: 8px solid #fff; */
  /* box-shadow: 0 5px 5px rgba(255, 0, 0, 0.22); */
}

.controls__audio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls__audio div {
  width: 20px;
  height: 20px;
  margin: 10px;
  /* background: #fff; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  /* color: #f53192; */
  /* box-shadow: 0 5px 5px rgba(255, 0, 0, 0.22); */
  cursor: pointer;
}

.controls__audio div:nth-child(2) {
  transform: scale(1.5);
  /* background: #f53192; */
  color: #fff;
}

/* .container__music:not(
    .container__music div nav i,
    .music__player,
    nav,
    .circle,
    i,
    .fa-solid fa-angle-left,
    audio,
    source,
    input
  ) {
  filter: url("#fishEyeFilter");
  filter: url("#fussion");
} */

.ontainer__music:not(.ontainer__music) {
  filter: url("#fishEyeFilter");
  filter: url("#fussion");
}

/* Container Hub */

.container__hub {
  height: 100%;
  width: 100%;
  background: black;
  /* opacity: 10%; */
  justify-content: center;
  display: flex;
}

.hub__stop {
  height: 100%;
  width: 100%;
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 100px;
  opacity: 100%;
}

body:not(.container__hub) {
  filter: url("#fishEyeFilter");
  filter: url("#fussion");
}

/* Container Lang */

.container__lang {
  height: 100%;
  width: 100%;
  position: absolute;
  display: none;
}

.lang__background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 97%;
  top: 2%;
}

/* .lang__background button {
  position: absolute;
  padding: 16px;
  border: 2px solid white;
  border-radius: 30px;
  opacity: 1;
  display: flex;
  z-index: 100;
  opacity: 0;
} */

.lang__object {
  position: absolute;
  display: flex;
  padding: 10px;
  border: 1px solid white;
  border-radius: 9%;
  opacity: 1;
  cursor: pointer;
  transition: 0.5s;
  z-index: 4;
  animation: appearance__lang 2s;
}

@keyframes appearance__lang {
  0% {
    left: 60px;
    opacity: 0;
  }

  100% {
    left: 0px;
    opacity: 1;
  }
}

.none {
  opacity: 0;
  transition: 2s;
}
